@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

body {font-family: 'Fredoka One', cursive;}
body {background-color: #f2f4f5;}
/* 
Themes
Light Mode: 
Topbar: #dee1e3
Main: #f2f4f5

Dark Mode: 
Topbar: #191b1d
Main: #232527
*/

.navbar {
  width: 100%;
  background-color: #dee1e3;
  overflow: auto;
}
.posts{
background-color: #dee1e3;
}
.navbar a {  
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #000;
}

.active {
  background-color: #04AA6D;
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}
* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  height: 100%;
}

